header{
    padding: 5px;
    background-color: white;
    height: auto;
}

.headContent{
    width: 80%;
    display: inliane-block;
    /* float: left; */
}

.headContent h1{
    font-size: 2.2em;
}

.headImage{
    width: 64px;
    display: inline-block;
    /* float: left; */
}
.HeadImg{
    width: 64px;
    height: 64px;
}

#main_block_content{
    width: 58%;
}

#ExpertDetailPage{
    width: 40%;
}

