div{
    padding: 5px;
    margin: 5px;
}

hr{
    border: 0.5px solid black;
}

body{
    padding: 5px;
    margin: 5px;
}


img{
    max-width: 80%;
    max-height: 80%;
}

header{
    border-bottom: 0.5px solid;
}

.content-block{
    /* border: 0.5px solid black; */
    display: inline;
    float: left;
}

#main_block_content{
    width: 60%;
}

#ExpertDetailPage{
    width: 35%;
}

.EventDetailContainer{
    border: 0.5px solid black;
    border-radius: 10px;
}

.EventDetailHead{

}

.EventDetailBody{
    text-align: justify;
}

.ExpertDetailPanel{
    border: 0.5px solid black;
    border-radius: 10px;
}

.ExpertName{
    font: bold;
}

.ExpertDetial{

}

.imagePart{
    display: inline;
    float: left;
    width: 30%;
}

.detatilPart{
    display: inline;
    float: left;
    width: 65%;
}
